.footer {
  padding: 50px 0;
  background-color: #000000;

  @include sol767 {
    padding: 40px 0;
  }

  &__container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;

    @include sol992 {
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    @include sol767 {
      gap: 30px;
    }
  }

  &__logo-block {
    width: 33.3%;

    @include sol992 {
      width: 100%;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.852);
    }

    @include sol767 {
      padding: 10px 0;
    }
  }

  &__logo {
    display: block;
    width: max-content;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    transform: translate(-10px, -10px);
    filter: opacity(0.8);
    text-align: center;
    transition: border-color 0.3s ease;

    @include sol992 {
      margin: 0 auto;
    }

    img {
      height: 80px;
      display: block;

      @include sol767 {
        width: 138px;
        height: 60px;
      }
    }

    &:focus-visible {
      border-color: $primary;
    }
  }

  &__subtitle {
    @include resetMg;
    margin-bottom: 40px;
    font-size: clamp(1rem, 0.6vw + 0.9rem, 1.56rem);
    font-weight: 700;
    color: rgba(255, 255, 255, 0.827);

    @include sol992 {
      margin-bottom: 30px;
      text-align: center;
    }

    @include sol767 {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-size: clamp(1rem, 0.6vw + 0.9rem, 1.56rem);
    font-weight: 500;
    color: rgba(128, 128, 128, 0.862);

    @include sol992 {
      text-align: center;
    }
  }

  &__menu {
    width: 33.3%;

    @include sol992 {
      width: 100%;
    }
  }

  &__menu-list {
    transform: translateX(-12px);

    @include sol992 {
      transform: unset;
    }
  }

  &__menu-item {}

  &__menu-link {
    position: relative;
    display: block;
    width: max-content;
    height: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    @include textBreak;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    @include sol992 {
      margin: 0 auto;
    }

    // @include sol767 {
    //   margin: 0 auto;
    // }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 24px);
      height: 1px;
      background-color: $primary;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:focus-visible,
    &:active {
      background-color: $primary;
      color: $white;
    }

    &:hover:not(:focus-visible):not(:active) {
      &::after {
        opacity: 1;
      }
    }
  }

  &__info {
    width: 33.3%;

    @include sol992 {
      width: 100%;
    }
  }



}

.info {
  &__owner {
    margin-bottom: 40px;
  }

  &__text {}

  &__link {}
}