$primary: #ff3482;
$primary-x-dark: #A6114A;
$primary-dark: #BF4D79;
$primary-medium: #FF67A2;
$primary-light: #FF8FBB;
$primary-light-2: #ff69a4;
$white: #ffffff;
$grey-light: #9495909c;
$grey-dark: #5f5454;
$grey-x-dark: #333333;